.Interview__Framing--Red {
  border: 10px solid red;
}

.Interview__Framing--Green {
  border: 10px solid lightgreen;
}

.Interview__Framing--Blue {
  border: 10px solid blue;
}

.Interview__Content {
  padding: 3rem;
}
