.Albatros__Framing--Red {
  border: 10px solid red;
}

.Albatros__Framing--Green {
  border: 10px solid lightgreen;
}

.Albatros__Framing--Blue {
  border: 10px solid blue;
}

.Albatros__Content {
  padding: 3rem;
}
