.WithFraming__Framing--Red {
  border: 10px solid red;
}

.WithFraming__Framing--Green {
  border: 10px solid lightgreen;
}

.WithFraming__Framing--Blue {
  border: 10px solid blue;
}

.WithFraming__Content {
  padding: 3rem;
}
